<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>topbar</title>
    <script th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript">

         function logout(){
            if(window.confirm('确定要退出登录吗？')){
                top.location.href = "home/user/logout";
            }
        }

        var tm_activemenu = function(obj){
            $(obj).parent().parent().children("li").attr("class","");
            $(obj).parent().attr("class","active");
        };
        //异步获取登录账号信息
        $.ajax({
            type: "POST",
            url: "/exam/home/user/get_current",
            dataType:'json',
            success: function(data){
                console.log(data)
                if (data.type == 'success'){
                    $("#user-name").text(data.truename);
                }else {
                    alert(data.msg);
                }
            },
            error : function(){
                top.location.href = "home/login";
            }
        });


    </script>

</head>
<body>
<!--头部信息-->
<header class="lyear-layout-header" id="topbarheader">
    <nav class="navbar navbar-default">
        <div class="topbar">

            <div class="topbar-left">
                <div class="lyear-aside-toggler">
                    <span class="lyear-toggler-bar"></span> <span
                        class="lyear-toggler-bar"></span> <span class="lyear-toggler-bar"></span>
                </div>
                <!--/*@thymesVar id="pageTopBarInfo" type="java.lang.String"*/-->
                <span class="navbar-page-title" text="">系统首页</span>
            </div>

            <ul class="topbar-right">
                <!--个人信息-->
                <li class="dropdown dropdown-profile" style="margin-right: 20px">
                    <a href="javascript:void(0)" data-toggle="dropdown"> <img src="../../admin/images/bilibili-fill.png"
                            id="img" class="img-avatar img-avatar-48 m-r-10"
                             />
                        <span id="user-name">正在获取账号信息...
								<span class="caret"></span>
						</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">

                        <li><a href="#" th:onclick="'javascript:logout()'"><i
                                class="mdi mdi-logout-variant"></i> 退出登录</a></li>
                        <li><a th:href="@{/home/user/profile}"><i
                                class="mdi mdi-logout-variant"></i> 账户</a></li>
                        <li><a th:href="@{../../system/login}" target="_blank"><i
                                class="mdi mdi-logout-variant"></i> 管理员登录</a></li>
                    </ul>

                </li>
            </ul>
        </div>
    </nav>
</header>
<!--End 头部信息-->
</body>
</html>