<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- 引入bootstrap样式 -->
	<link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
	<!--图标库-->
	<link th:href="@{/lyear/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>
	<!--弹出框样式-->
	<link th:href="@{/lyear/jconfirm/jquery-confirm.min.css}" rel="stylesheet" type="text/css"/>
	<!--自定义样式-->
	<link href="../lyear/css/style.min.css" th:href="@{/lyear/css/style.min.css}" rel="stylesheet" type="text/css"/>

</head>
<body>

<div class="lyear-layout-web">
	<div class="lyear-layout-container">
		<!--左侧导航-->
		<div th:replace="home/common/leftbar::#leftbaraside"></div>
		<!--头部信息-->
		<div th:replace="home/common/topbar::#topbarheader"></div>

		<!--页面主要内容-->
		<main class="lyear-layout-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<h3>历史考试</h3>
								<h4>历史考试，请选择以下列表中我参加过的考试进行详情查看。</h4>
							</div>

							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-hover table-striped">
										<thead>
										<tr>
											<th class="info">序号</th>
											<th class="info">考试名称</th>
											<th class="info">考试状态</th>
											<th class="info">考试时长</th>
											<th class="info">考试耗时</th>
											<th class="info">考试时间</th>
											<th class="info">考试科目</th>
											<th class="info">试卷得分</th>
											<th class="info">及格分数/卷面总分</th>
											<th class="info">操作</th>
										</tr>
										</thead>
										<tbody>
										<tr th:if="${historyList} == null">
											<td colspan="9">你还没有考过试!</td>
										</tr>
										<tr th:each="history:${historyList}">
											<td th:text="${historyStat.index + 1}"></td>
											<td th:text="${history.exam.name}"></td>
											<td >已批阅</td>
											<td th:text="${history.exam.availableTime }"></td>
											<td th:text="|${history.useTime}分钟|"></td>
											<td th:text="|${#dates.format(history.startExamTime,'yyyy-MM-dd HH:mm:ss')}---${#dates.format(history.endExamTime,'yyyy-MM-dd HH:mm:ss')}|"></td>
											<td th:text="${subject.name }"></td>
											<td>
												<span th:text="${history.score}"></span>
												<span th:if="${history.exam.passScore > history.score }"><font color="red"><b>不及格</b></font></span>
											</td>
											<td th:text="|${history.exam.passScore }/${history.exam.totalScore }|"></td>
											<td>
												<button class="btn btn-danger btn-sm edit_btn"
												>
													<a th:href="|review_exam?examId=${history.exam.id }&examPaperId=${history.id}|" target="_blank" style="text-decoration:none;color:white;"><span class="glyphicon glyphicon-log-out"
																	 aria-hidden="true"></span> 回顾试卷</a>

												</button>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</main>
		<!--End 页面主要内容-->

	</div>
</div>

<!-- 引入jQuery和bootstrap的js -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
<!--滚动条插件-->
<script th:src="@{/lyear/js/perfect-scrollbar.min.js}"></script>
<!--弹出框js-->
<script th:src="@{/lyear/jconfirm/jquery-confirm.min.js}"></script>
<!--自定义js脚本-->
<script th:src="@{/lyear/js/main.min.js}"></script>

<script type="text/javascript">
		window.onload = function(){
			$(".tm_table_list tbody tr").mouseover(function(){
				$(this).attr("style","background:#f5f5f5");
			});
			$(".tm_table_list tbody tr").mouseout(function(){
				$(this).attr("style","background:#ffffff");
			});
		}
	</script>
</body>
</html>